<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>

        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="Url" class="sr-only"></label>
            <input required placeholder="Url" type="url" name="url" id="url" class="form-control col mr-2">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>

        <table class="table table-stripped table-responsive">
            <thead>
                <tr>
                    <th>Full URL<% %>
                    </th>
                    <th>Short URL<% %>
                    </th>
                    <th>Clicks <% %>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(element=> { %>
                    <tr>
                        <td><a href="<%= element.url %>">
                                <%= element.url %>
                            </a></td>
                        <td><a href="<%= element.short %>">
                                <%= element.short %>
                            </a></td>
                        <td>
                            <%= element.clicks %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>